body {
    background-color: #2B4570;
    font-family: 'Work Sans';
    color: white;
    padding: 0 15%;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header svg {
    padding: 0 10px;
}

header h1 {
    margin: 3px 0;
}

 header p {
    margin: 0 3px 10px;
 }

div#title {
    display: flex;
    align-items: center;
}

div#socials {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
}

div#socials > * {
    padding: 5px 0;
}

div.links {
    display: flex;
}

header a {
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
    padding: 0 0 0 10px;
}

header a img {
    padding: 0 5px 0 0;
}

main {
    display: flex;
    flex-direction: column;
}

hr {
    width: 100%;
}

ul a img {
    padding: 0 0 0 10px;
}

ul {
    list-style: none;
    padding: 8px 16px;
    width: 85%;
    align-self: center;
}

li.project {
    display: flex;
    justify-content: space-between;
}

li.project img {
    align-self: center;
}

div.project_info {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 50%;
}

div.hidden {
    visibility: collapse;
}

li.achievement {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media (max-width:1280px) {
    /* big landscape tablets, laptops, and desktops */
    
    body {
        padding: 0 10%;
    }

    ul {
        width: 100%;
    }
}

@media (max-width:1024px)  {
    /* tablet, landscape iPad, lo-res laptops ands desktops */

    header {
        flex-direction: column;
    }

    
    div#socials {
        flex-direction: column-reverse;
        align-items: center;
    }

    body {
        padding: 0 5%;
    }
}

@media (max-width:960px)  {
    /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */

    li.project {
        flex-direction: column-reverse;
        align-items: center;
    }

    div.project_info {
        width: 75%;
    }
}

@media (max-width:640px)  {
    /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
    
    body {
        margin: 0;
        padding: 0 5%;
    }
    
    div#title div {
        text-align: right;
        width: min-content;
    }

    div.project_info {
        width: 100%;
    }
}

@media (max-width:480px)  {
    /* smartphones, iPhone, portrait 480x320 phones */

    li.achievement {
        flex-direction: column;
    }

}