body {
    background-color: #2B4570;
    font-family: 'Work Sans';
}

div#title {
    color: white;
}

div#assignments {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

div.assignment {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #A8D0DB;
    border-radius: 15px;
    margin: 10px;
    padding: 10px;
}